.btn-circle {
    width: 130px;
    height: 75px;
    padding: 6px 0px !important;
    border-radius: 1225px !important;
    text-align: center !important;
    font-size: 20px !important;
    line-height: 1.42857 !important;
  }
  
  .btn-margin{
    /* top right bottom left */
    margin: 45px 5px 10px 0px
  }
  
  .btn-toolbar-margin{
    margin: 0px 0% 0px 0px
  }